<div id="clearance">
  <h2><%= t(".title") %></h2>

  <%= form_for Listing.new, url: user_listings_path(current_user) do |form| %>

    <%= form.label :name %>
    <%= form.text_field :name %><br>

    <%= form.label :description %>
    <%= form.text_field :description %><br>

    <%= form.label :country %>
    <%= form.text_field :country %><br>

    <%= form.label :state %>
    <%= form.text_field :state %><br>

    <%= form.label :city %>
    <%= form.text_field :city %><br>

    <%= form.label :address %>
    <%= form.text_field :address, placeholder: 'Street address...' %><br>

    <%= form.label :property_type %>
    <%= form.select :property_type, [
      ['Apartment','Apartment'],
      ['House','House'],['Cabin','Cabin'],
      ['Loft','Loft']] %><br>

    <%= form.label :room_type %>
    <%= form.select :room_type, [
      ['Whole House','Whole House'],
      ['Private Room','Private Room'],
      ['Shared Room','Shared Room']] %><br>

    <%= form.label :accomodates %>
    <%= form.select :num_people, [
      ['1','1'],['2','2'],
      ['3','3'],['4','4'],
      ['5','5']] %><br>

    <%= form.label :bedrooms %>
    <%= form.select :num_bedrooms, [
      ['1','1'],['2','2'],
      ['3','3'],['4','4'],
      ['5','5']] %><br>

    <%= form.label :beds %>
    <%= form.select :num_beds, [
      ['1','1'],['2','2'],
      ['3','3'],['4','4'],
      ['5','5']] %><br>

    <%= form.label :bathrooms %>
    <%= form.select :num_bathrooms, [
      ['1','1'],['2','2'],
      ['3','3'],['4','4'],
      ['5','5']] %><br>

    <%= form.label :price_overnight %>
    <%= form.number_field :price %>

    <div class="field">
      <%= form.label :tag_list %><br />
      <%= form.text_field :tag_list %>
    </div> 
    <!-- this field of tagging part MUST BE CHANGE INTO form.select.
    Dont give the user the power to type crappy things  -->

    <%= form.file_field :images, multiple: true %><br>
    
    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>