


    <div class="header">
        <div class="w-container contents">
            <div class="main-heading-wrapper">
                <h1 class="headhead" data-ix="fade-in-heading">Shortstayz&nbsp;</h1>
                <!-- <h1 class="headhead" data-ix="fade-in-heading-2">Interactions</h1> -->
                <h1 class="without-code" data-ix="fade-in-heading-3">Local</h1>
                <h1 class="without-code" data-ix="fade-in-heading-4">You</h1>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/5317d67d660658b254000454/js/webflow.js?2f83b8326cc4c8f7327b5dba30444a37"></script>





      <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
         <div class="item active">
           <div class= "carousel-caption">
           </div>
           <%= image_tag("jb.jpg") %>
         </div>
         <div class="item">
           <%= image_tag("kl.jpg") %>
           <div class= "carousel-caption">
           </div>
         </div>
         <div class="item">
           <%= image_tag("mulu.jpg") %>
           <div class= "carousel-caption">
           </div>
         </div>
       </div>
       <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> -->

      <div class="search">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="form-section">
              <div class="row">
                <form role="form">
                  <div class="col-md-4" id="searchsearch">
                    <div class="form-group">
                      <label class="sr-only" for="location">Location</label>
                      <input type="email" class="form-control" id="location" placeholder="Where ?">
                    </div>
                  </div>
                  <div class="col-md-2 searchsearch">
                    <div class="form-group">
                      <label class="sr-only" for="checkin">Check in</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="checkin" placeholder="Check in">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 searchsearch">
                    <div class="form-group">
                      <label class="sr-only" for="checkout">Check out</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="checkout" placeholder="Check out">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 searchsearch">
                    <div class="form-group">
                      <label class="sr-only" for="guest">Guest</label>
                      <select id="guest" name="guest" class="form-control">
                        <option value="1">1 Guest</option>
                        <option value="2">2 Guests</option>
                        <option value="3">3 Guests</option>
                        <option value="4">4 Guests</option>
                        <option value="5">5 Guests</option>
                        <option value="6">6 Guests</option>
                        <option value="7">7 Guests</option>
                        <option value="8">8 Guests</option>
                        <option value="9">9 Guests</option>
                        <option value="10">10 Guests</option>
                        <option value="11">11 Guests</option>
                        <option value="12">12 Guests</option>
                        <option value="13">13 Guests</option>
                        <option value="14">14 Guests</option>
                        <option value="15">15 Guests</option>
                        <option value="16">16+ Guests</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2 searchsearch">
                    <button type="submit" class="btn btn-default btn-primary" id="submit_search">Search</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- </br> -->

    <!-- Section How It Works -->

      <!-- <section id="explore" style="padding-bottom: 20px; padding-top: 50px;">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">How It Works</h2>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <%= image_tag("bukitbintang.jpg", size: '250x250', class: "img-circle") %>
              <p class="text-muted" style="padding-top: 5%; padding-left: 6%; padding-right: 6%;">Discover new places to enjoy a short vacation, be it a small lodge, entire homes and unique property like a tree house and a mansion on the hilltop</p>
            </div>
            <div class="col-md-4">
              <%= image_tag("gunungkinabalu.jpg", size: '250x250',class: "img-circle") %>
              <p class="text-muted" style="padding-top: 5%; padding-left: 6%; padding-right: 6%;">Connect with hosts, confirm travel dates, and pay – all through Shortstayz’s trusted services</p>
            </div>
            <div class="col-md-4">
              <%= image_tag("cameronhighlands.jpg", size: '250x250', class: "img-circle") %>
              <p class="text-muted" style="padding-top: 5%; padding-left: 6%; padding-right: 6%;">Away from home, feel like home anywhere in Malaysia. Learn more about how to travel on Shortstayz</p>
            </div>

          </div>
        </div>
      </section> -->


      <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How It Works</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Discover</h3>
                        <p class="text-muted">Discover new places to enjoy a short vacation, be it a small lodge, entire homes and unique property like a tree house and a mansion on the hilltop</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-globe text-primary sr-icons"></i>
                        <h3>Connect</h3>
                        <p class="text-muted">Connect with hosts, confirm travel dates, and pay – all through Shortstayz’s trusted services</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Enjoy</h3>
                        <p class="text-muted">Away from home, feel like home anywhere in Malaysia. Learn more about how to travel on Shortstayz</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Become a Host  -->

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Hosting opens up a world of opportunity</h2>
                    <hr class="light">
                    <p class="text-faded">Earn money hosting and share your experience with travelers.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Section Places  -->

      <section id="explore" style="padding-bottom: 20px;">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Where People Have Been Staying</h2>
              <hr class="primary">
            </div>
          </div>

          <div class="row text-center" style="padding-left: 10%; padding-right: 10%;">
            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33"/>
                <figcaption>
                  <h2>Pulau Perhentian</h2>
                  <p>
                    Sometimes one should just look at things and think about things without doing things.
                  </p>
                  <a href="#">Read More</a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample35.jpg" alt="sq-sample35"/>
                <figcaption>
                  <h2>Kota Kinabalu</h2>
                  <p>
                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                  </p>
                  <a href="#">Join Today</a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample34.jpg" alt="sq-sample34"/>
                <figcaption>
                  <h2>Langkawi</h2>
                  <p>
                    If you do the job badly enough, sometimes you don't get asked to do it again.
                  </p>
                  <a href="#">Get in Touch</a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample34.jpg" alt="sq-sample34"/>
                <figcaption>
                  <h2>Petaling Jaya</h2>
                  <p>
                    If you do the job badly enough, sometimes you don't get asked to do it again.
                  </p>
                  <a href="#">Get in Touch</a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33"/>
                <figcaption>
                  <h2>Kuala Lumpur</h2>
                  <p>
                    Sometimes one should just look at things and think about things without doing things.
                  </p>
                  <a href="#">Read More</a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample35.jpg" alt="sq-sample35"/>
                <figcaption>
                  <h2>Iskandar</h2>
                  <p>
                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                  </p>
                  <a href="#">Join Today</a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample35.jpg" alt="sq-sample35"/>
                <figcaption>
                  <h2>Cameron Highland</h2>
                  <p>
                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                  </p>
                  <a href="#">Join Today</a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample34.jpg" alt="sq-sample34"/>
                <figcaption>
                  <h2>Pulau Pangkor</h2>
                  <p>
                    If you do the job badly enough, sometimes you don't get asked to do it again.
                  </p>
                  <a href="#">Get in Touch</a>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33"/>
                <figcaption>
                  <h2>Taman Negara</h2>
                  <p>
                    Sometimes one should just look at things and think about things without doing things.
                  </p>
                  <a href="#">Read More</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> -->





    <!-- Section Learn More -->

      <section id="explore" style="padding-bottom: 20px;">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Learn More</h2>
              <hr class="primary">
            </div>
          </div>

          <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample35.jpg" alt="sq-sample35"/>
                <figcaption>
                  <h1>Tuan Rumah</h1>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample34.jpg" alt="sq-sample34"/>
                <figcaption style="text-align: center;">
                  <h1>Homestay</h1>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="snip1174" style="align-self: center;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33"/>
                <figcaption>
                  <h1>Travel</h1>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>


      <footer id="footerWrapper" class="footer4">
	<section id="mainFooter">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footerWidget">
						<h3>About us</h3>
						<p><a href="http://www.little-neko.com" title="Little Neko, website template creation">Little Neko</a> is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practices and up-to-date web technologies to create great user experiences. We love what we do and we hope you do too! </p>
					</div>
				</div>
        <div class="col-md-3 col-sm-6">
					<div class="footerWidget">
						<h3>Latest news</h3>
						<ul class="list-unstyled iconList borderList">
							<li><a href="#">Solace of a lonely highway</a></li>
							<li><a href="#">Write with purpose</a></li>
							<li><a href="#">Tree on a lake</a></li>
							<li><a href="#">Don’t stop questioning</a></li>
							<li><a href="#">Overheard this morning</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footerWidget">
						<h3>Latest news</h3>
						<ul class="list-unstyled iconList borderList">
							<li><a href="#">Solace of a lonely highway</a></li>
							<li><a href="#">Write with purpose</a></li>
							<li><a href="#">Tree on a lake</a></li>
							<li><a href="#">Don’t stop questioning</a></li>
							<li><a href="#">Overheard this morning</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footerWidget">

						<h3>Keep in touch</h3>
						<h1 class="phone">+ 1-800-487-1254</h1>
						<h4> Little Neko </h4>
						<address>
							<p>
								77 Mass. Ave., E14/E15<br>
								Seattle, MA 02139-4307 USA <br>
								<i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@little-neko.com">little@little-neko.com</a>
							</p>
						</address>

						<ul class="socialNetwork">
							<li><a href="#" class="tips" title="follow me on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="tips" title="follow me on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="tips" title="follow me on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#" class="tips" title="follow me on Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#" class="tips" title="follow me on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="footerRights">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="images/neko-logo.png" alt="latest Little Neko news" id="footerLogo">
				</div>
				<div class="col-md-6">
					<ul class="quickMenu">
						<li><a href="template-site-map.html" class="linkLeft">Site map</a></li>
						<li><a href="template-about.html">About us</a></li>
						<li><a href="template-team.html">Our team</a></li>
						<li><a href="template-contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</footer>

  <!-- <footer id="footerWrapper" class="footer2">
  	<section id="mainFooter">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-3 col-sm-6">
  					<div class="footerWidget">
              <h3>About Us</h3>
  						<p><a href="http://www.little-neko.com" title="Little Neko, website template creation">Little Neko</a> is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practices and up-to-date web technologies to create great user experiences. We love what we do and we hope you do too! </p>
  					</div>
  				</div>
  				<div class="col-md-3 col-sm-6">
  					<div class="footerWidget">
  						<h3>Latest works</h3>
              <ul class="list-unstyled iconList">
  							<li><a href="#">Solace of a lonely highway</a></li>
  							<li><a href="#">Write with purpose</a></li>
  							<li><a href="#">Tree on a lake</a></li>
  							<li><a href="#">Don’t stop questioning</a></li>
  							<li><a href="#">Overheard this morning</a></li>
  						</ul>
  					</div>
  				</div>
  				<div class="col-md-3 col-sm-6">
  					<div class="footerWidget">
  						<h3>Latest news</h3>
  						<ul class="list-unstyled iconList">
  							<li><a href="#">Solace of a lonely highway</a></li>
  							<li><a href="#">Write with purpose</a></li>
  							<li><a href="#">Tree on a lake</a></li>
  							<li><a href="#">Don’t stop questioning</a></li>
  							<li><a href="#">Overheard this morning</a></li>
  						</ul>
  					</div>
  				</div>
  				<div class="col-md-3 col-sm-6">
  					<div class="footerWidget">
  						<h3>Little NEKO</h3>
  						<address>
  							<p>
  								<i class="icon-location"></i>&nbsp;77 Mass. Ave., E14/E15<br>
  								Seattle, MA 02139-4307 USA <br>
  								<i class="icon-phone"></i>&nbsp;615.987.1234 <br>
  								<i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@little-neko.com">little@little-neko.com</a>
  							</p>
  						</address>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>
  	<section id="footerRights">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-12">
  					<ul class="socialNetwork">
  						<li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
  						<li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
  						<li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
  						<li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
  						<li><a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>
  					</ul>
  				</div>
  				<div class="col-md-12">
  					<p>Copyright © 2014 <a href="http://www.little-neko.com" target="blank">Little NEKO</a> / All rights reserved.</p>
  				</div>
  			</div>
  		</div>
  	</section>
  </footer> -->



    <script>

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '486582924883427',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    </script>

    <script type="text/javascript">

      $(".hover").mouseleave(
        function () {
          $(this).removeClass("hover");
        }
      );

    </script>

    <script>
    var vid = document.getElementById("bgvid");
    var pauseButton = document.querySelector("#polina button");

    function vidFade() {
    vid.classList.add("stopfade");
    }

    vid.addEventListener('ended', function()
    {
    // only functional if "loop" is removed
    vid.pause();
    // to capture IE10
    vidFade();
    });


    pauseButton.addEventListener("click"  , function() {
    vid.classList.toggle("stopfade");
    if (vid.paused) {
    vid.play();
    pauseButton.innerHTML = "Pause";
    } else {
    vid.pause();
    pauseButton.innerHTML = "Paused";
    }
    })


    </script>

    <script>
    var TxtRotate = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 300 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
      }

      setTimeout(function() {
        that.tick();
      }, delta);
    };

    window.onload = function() {
      var elements = document.getElementsByClassName('txt-rotate');
      for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-rotate');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtRotate(elements[i], JSON.parse(toRotate), period);
        }
      }
      // INJECT CSS
      var css = document.createElement("style");
      css.type = "text/css";
      css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
      document.body.appendChild(css);
    };
    </script>
