<div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner">
     <div class="item active">
       <div class= "carousel-caption">
       </div>         
       <%= image_tag("jb.jpg") %> 
     </div>
     <div class="item">
       <%= image_tag("kl.jpg") %>
       <div class= "carousel-caption">
       </div> 
     </div>
     <div class="item">
       <%= image_tag("mulu.jpg") %>
       <div class= "carousel-caption">
       </div> 
     </div>
   </div>
   <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
   <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>

  <div class="search">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="form-section">
          <div class="row">
            <form role="form">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="sr-only" for="location">Location</label>
                  <input type="email" class="form-control" id="location" placeholder="Where ?">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="sr-only" for="checkin">Check in</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="checkin" placeholder="Check in">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="sr-only" for="checkout">Check out</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="checkout" placeholder="Check out">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="sr-only" for="guest">Guest</label>
                  <select id="guest" name="guest" class="form-control">
                    <option value="1">1 Guest</option>
                    <option value="2">2 Guests</option>
                    <option value="3">3 Guests</option>
                    <option value="4">4 Guests</option>
                    <option value="5">5 Guests</option>
                    <option value="6">6 Guests</option>
                    <option value="7">7 Guests</option>
                    <option value="8">8 Guests</option>
                    <option value="9">9 Guests</option>
                    <option value="10">10 Guests</option>
                    <option value="11">11 Guests</option>
                    <option value="12">12 Guests</option>
                    <option value="13">13 Guests</option>
                    <option value="14">14 Guests</option>
                    <option value="15">15 Guests</option>
                    <option value="16">16+ Guests</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-default btn-primary">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  </br>

  <section id="explore" style="padding-bottom: 20px; padding-top: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">How it works </h2>
          <h3 class="section-subheading text-muted" style="padding-bottom: 20px">See where people are traveling, all around Malaysia</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <h4>New York City</h4>
          <%= image_tag("bukitbintang.jpg", size: '335x344', class: "img-circle") %>
          <p class="text-muted" style="padding-top: 50px">Home to the Empire State Building, Times Square, Statue of Liberty and other iconic sites, New York City is a fast-paced, globally influential center of art, culture, fashion and finance.</p>
        </div>
        <div class="col-md-4">
          <h4>Reykjavik</h4>
          <%= image_tag("gunungkinabalu.jpg", size: '335x344',class: "img-circle") %>
          <p class="text-muted" style="padding-top: 50px">Iceland, a Nordic island nation, is defined by its dramatic volcanic landscape of geysers, hot springs, waterfalls, glaciers and black-sand beaches. The capital, Reykjavik, home to the majority of the population, runs on geothermal power and offers a renowned nightlife scene as well as Viking history museums.</p>
        </div>
        <div class="col-md-4">
          <h4>Tokyo</h4>
          <%= image_tag("cameronhighlands.jpg", size: '335x344', class: "img-circle") %>
          <p class="text-muted" style="padding-top: 50px">Tokyo, Japan's bustling capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers and anime shops to cherry trees and temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding forests.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '486582924883427',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));

</script>