<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
  crossorigin="anonymous">
  <!-- <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
  integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
  crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>

  <script src="https://js.braintreegateway.com/js/braintree-2.24.0.min.js"></script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

  <title>Shortstayz</title>

</head>

<body>

  <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" href="#">Shortstayz</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
          <li role="presentation"><%= link_to t(".home"), welcome_index_path %></li>
          <li role="presentation"><%= link_to t(".dashboard"), '/profile' %></li>
          <li role="presentation"><%= link_to t(".book_now"), listings_path%></li>
          <li role="presentation"><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
          <% else %>
          <li role="presentation"><%= link_to t(".home"), welcome_index_path %></li>
          <li role="presentation"><%= link_to t(".new_listing"), new_listing_path, method: :new %></li>
          <li role="presentation"><%= link_to t(".sign_in"), sign_in_path %></li>
          <li role="presentation"><%= link_to 'Login via Facebook', '/auth/facebook' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>


  <!-- footer  -->

        <footer id="footerWrapper" class="footer4">
  	<section id="mainFooter">
  		<div class="container">
  			<div class="row">
  				<!-- <div class="col-md-3 col-sm-6">
  					<div class="footerWidget">
  						<h3>About us</h3>
  						<p><a href="http://www.little-neko.com" title="Little Neko, website template creation">Little Neko</a> is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practices and up-to-date web technologies to create great user experiences. We love what we do and we hope you do too! </p>
  					</div>
  				</div> -->
          <div class="col-md-3 col-sm-6">
            <div class="footerWidget">
              <h4>Company</h4>
              <br>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footerWidget">
              <h4>Explore</h4>
              <br>
              <ul class="list-unstyled">
                <li><a href="#">ShortStayz Listing</a></li>
                <li><a href="#">Our Community Project</a></li>
                <li><a href="#">ShortStayz Wedding</a></li>
                <li><a href="#">Malaysia, Our Home</a></li>
                <li><a href="#">Overheard this morning</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footerWidget">
              <h4>Hosting</h4>
              <br>
              <ul class="list-unstyled">
                <li><a href="#">Why Hosting</a></li>
                <li><a href="#">Register as Host</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div>
  				<!-- <div class="col-md-3 col-sm-6">
  					<div class="footerWidget">

  						<h3>Keep in touch</h3>
  						<h1 class="phone">+ 1-800-487-1254</h1>
  						<h4> Little Neko </h4>
  						<address>
  							<p>
  								77 Mass. Ave., E14/E15<br>
  								Seattle, MA 02139-4307 USA <br>
  								<i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@little-neko.com">little@little-neko.com</a>
  							</p>
  						</address>

  						<ul class="socialNetwork">
  							<li><a href="#" class="tips" title="follow me on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  							<li><a href="#" class="tips" title="follow me on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  							<li><a href="#" class="tips" title="follow me on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
  							<li><a href="#" class="tips" title="follow me on Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  							<li><a href="#" class="tips" title="follow me on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  						</ul>
  					</div>
  				</div> -->
  			</div>
  		</div>

  	</section>
  	<section id="footerRights">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-12 text-center" style="font-size: small; color: #979ca0;">
            ©2016 ShortStayz is a community rental activities
  				</div>
  			</div>
  		</div>
  	</section>

  </footer>


</body>



</html>
