<!DOCTYPE html>
<html>
<head>


  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
  crossorigin="anonymous">
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
  integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
  crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>

  <script src="https://js.braintreegateway.com/js/braintree-2.24.0.min.js"></script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

  <title>Shortstayz</title>

</head>

<body>

  <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" href="#">Shortstayz</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-left">
          <% if signed_in? %>
          <li role="presentation" class="active"><%= link_to t(".home"), welcome_index_path %></li>
          <li role="presentation"><%= link_to t(".dashboard"), '/profile' %></li>
          <li role="presentation"><%= link_to t(".book_now"), listings_path%></li>
          <li role="presentation"><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
          <% else %>
          <li role="presentation"><%= link_to t(".home"), welcome_index_path %></li>
          <li role="presentation"><%= link_to t(".new_listing"), new_listing_path, method: :new %></li>
          <li role="presentation"><%= link_to t(".sign_in"), sign_in_path %></li>
          <li role="presentation"><%= link_to 'Login via Facebook', '/auth/facebook' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>

</body>



</html>

